


<p-toast position="top-right" key="main"></p-toast>
<p-menubar [model]="items">

  <div style="display:inline-block" >
  <div style="display: inline;margin-right: 15px;" *ngIf="authService.isLoggedOut$ | async"><p-button [routerLink]="['/login']">Login</p-button></div>
    <div style="display: inline;margin-right: 15px;" *ngIf="authService.isLoggedIn$ | async"><p-button [routerLink]="['/profile']">Profile</p-button></div>
    <div style="display: inline;margin-right: 15px;" *ngIf="authService.isLoggedIn$ | async"><p-button (click)="logout()">Logout</p-button></div>
  <p-button [routerLink]="['/dashboard']" style="display:inline">Gamehub </p-button>
  </div>
</p-menubar>
<router-outlet></router-outlet>


<!--<button (click)="show()">test</button>-->

