
.buttonbar:hover {
  background-color: #FAAC3D;

}
.buttonbar  {
  border: none;
  border-radius: 0;
  color: #fff !important;
  font-size: 16px;
  outline: none;
  padding: 7px 20px;
  background: #2fb8f8;
  text-decoration: none !important;
  display: inline-block;
  border-radius: 10px;
}
.p-menubar{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(68,170,198,1) 12%, rgba(0,212,255,1) 100%);
}
