<!--
<h3>Profil</h3>
<br>
<div *ngIf="!loading">
  <p> <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="xlarge>" shape="circle"></p-avatar>
&lt;!&ndash;  {{user.id}} &ndash;&gt;
{{user.prenom}} {{user.nom}}
  <p>{{user.email}}</p>

  <p> Crée : {{user.created_at | amDateFormat:'LL'}} </p>
  <p>Modifié : {{user.updated_at | amDateFormat:'LL'}} </p>
</div>
-->

<div *ngIf="!loading" style="display: flex; justify-content: center; align-items: center; margin-top: 3%">

  <p-card  header="{{user.prenom}} {{user.nom}}" subheader="Utilisateur de Gamehub" style="width: 360px" styleClass="p-card-shadow" >
    <ng-template pTemplate="header">
      <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="xxlarge>" shape="circle"></p-avatar>
    </ng-template>
    <p>{{user.email}}</p>
    <p>Pseudo : {{user.pseudo}}</p>
    <p>Crée : {{user.created_at | amDateFormat:'LL'}} </p>
    <p>Modifié : {{user.updated_at | amDateFormat:'LL'}}</p>

    <ng-template pTemplate="footer">
      <p-button label="Mes jeux" icon="pi pi-fw pi-pencil"></p-button>
      <p-button label="Modifier" icon="pi pi-fw pi-pencil"></p-button>
    </ng-template>

</p-card>
</div>
